1. 项目为Harmony OS next软件，使用5.0.2(14)版本api。
2. 项目不兼容鸿蒙4.0 和安卓。
3. 每次修改代码后必须把所有新引入的包和函数，和鸿蒙官方文档进行对比，绝对不能引用不存在的函数或废弃的函数。
4. 页面交互动画需要使用Hvigor进行优化，优化后的动画可以实现更好的交互感。
5. 页面设计规则：
    色彩：配色清新，主导色选择了淡绿色，背景上加入了同色的渐变效果，橙色作为点缀色，主要运用在主要行动按钮上，使得整体画面简洁大方又不失活泼。
    构图：卡片式布局，构图大量留白，给人一种舒适透气的感觉，整体构图简洁高级。
    字体：无衬线字体清晰简洁，便于识别，字体通过大小、颜色、字重加深对比，信息层级清晰。
    质感：毛玻璃效果使得视觉更加细腻、精致，整体看起来更加清爽统一，层次感强且透气。
    形状：卡片式布局，大圆角和块状卡片使得页面更加整齐美观。